<!DOCTYPE html>
<html>
<head>
  <title>We6cat: <%= we6cat_title %></title>
  <%= stylesheet_link_tag    "we6cat", :media => "all" %>
  <%= javascript_include_tag "we6cat" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
